%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Cost:
  = @product.cost
%p
  %b Price:
  = @product.price

%p
  %b Barcode:
  = @product.barcode

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
