!!!
%html
  = render :partial => '/layouts/head'
  %body.bp.two-col.my_app

    #container

      #header
        = render :partial => '/layouts/user_nav'
        %h1.clear Dilina Store

      #sidebar
        = render :partial => 'order'

      #content
        - flash.each do |type, message|
          %p{ :class => type }= message

        = yield

      = render :partial => '/layouts/footer'
